.footer {
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-flow: row nowrap;
}
.footer > div:last-child {
    flex-basis: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.footer > div:first-child{
    flex-basis: 30%;
    text-align: center;
}

.footer span {
    font-style: italic;
}

@media(max-width:500px){
    .footer > div:first-child {
        display: none;
    }
    .footer > div:last-child{
        flex-basis: 100%;
        text-align: center;
    }
    .footer > div:last-child > p{
        font-size: .94rem;
    }
}
