.footer {
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-flow: row nowrap;
}

.footer > div:first-child{
    flex-basis: 30%;
    text-align: center;
    border-right: 1px solid gray;
}

.footer > div:nth-child(2), .footer > div:nth-child(3) {
    flex-basis: 35%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 1rem;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    /* border: 1px solid green; */
}
.footer > div:nth-child(3) {
    flex-basis: 45%;
    border-left: 1px solid grey;
}
.footer > div:nth-child(2) a{
    margin-right: 1rem;
    color: white;
}

.footer span {
    font-style: italic;
}

@media(max-width:500px){
    .footer > div:first-child {
        display: none;
    }
    .footer > div:nth-child(2), .footer > div:nth-child(3){
        flex-basis: 50%;
        text-align: center;
    }
    
}
