.header {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid red;
}
.brandArea {
  background-color: #2d2d2d;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 0.2rem;
}
.categoryLinks {
    background-color: #525050;
    padding: 0 2rem 0 3rem;
  /* border: 1px solid yellow; */
  flex-basis: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  /* justify-content: space-between; */
}
.categoryLink{
    display: inline-block;
    padding: 0.6rem 1rem;
    margin-right: 2rem;
    /* border: 1px solid purple; */
    text-decoration: none;
    color: white;
    transition: all 1s;
}
.categoryLink:hover, .allcat:hover{
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
}
.allcat {
    padding: 0.6rem 3rem 0.6rem 1rem;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: all 1s;
    /* border: 1px solid purple; */
}
.allcat span{
    white-space: nowrap;
    /* border: 1px solid green; */
}
.brandArea img:first-child {
  margin-top: -0.88rem;
}
.brandAreaRight {
  display: flex;
}
.roundPill {
  border: 25px;
  border-right: none;
}
.userIcon {
  margin-top: -0.2rem;
  padding-left: 1.76rem;
  color: white;
  font-size: 30px;
}

.brandArea i {
  cursor: pointer;
}
.menubars {
  display: none;
}


@media (max-width: 780px) {
  .brandArea {
    background-color: #525050;
    flex-flow: row wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
  }
  .categoryLinks{
    display: none;
  }
  .menubars{
    display: inline;
    font-size: 1.7rem;
    color: white;
    margin-right: 1rem;
  }
  .brandAreaRight{
    flex-basis: 100%;
    padding-bottom: 0;
  }
  .brandAreaRight > .input-group-prepend span:first-of-type{
    display: none;
  }
  .brandAreaLeft{
    display: flex;
    align-items: baseline;

  }
  .userIcon:first-child, .userIcon2 {
    display: none;
  }
}
