.notFound {
    text-align: center;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.notFound > div > img{
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.notFound > p:first-of-type {
    font-size: 1rem;
    font-weight: 500;
}

.notFound > a {
    display: inline-block;
    background-color: #ff9900;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    outline: 0;
    padding: .896rem;
    color: white;
}

.notFound > a:hover {
    background-color: rgba(255,153,0,0.8);
    text-decoration: none;
}